/*Header*/
/*Navigation*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.navigation{
    padding: 20px;
    background-color: #010103;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
    z-index: 3;
    
    
}
.navigation ul li {
    margin: 0 12px;
    font-weight: bold;
}

.navi ::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #d3ad7f;
    display: block;
    margin: auto;
    transition: all 0.5s;
}

.navi :hover:after {
    
    width: 100%;

}
.logo{
    width: 40px;
}
/*main*/
.c19status{
    color:aliceblue;
    font-size:400px;
}
.subtextc19{
    color: aliceblue;
    font-size: 35px;
}
.col-lg-6.col-md-8.mx-auto{
    width:1400px;
}
.heading3{
    color:#d3ad7f;
}
.pic.col.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.container.col.my-lg-5{
    color:#fff;
}
.py-5.container{
    
    height: 900px;
    border-radius: 20px;
}
.test.col.gap-5{
    
    color: black;
    border-radius: 10px;
    height: 120px;
}

.row.py-lg-5.container{
    background-color: #d3ad7f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    border-radius: 20px;
    }

.col.container.text-center{
    font-weight: 500;
    
}
.c19status{
    color: white;
    font-size: 65px;
}

.c19Data{
    color: yellow;
    font-size: 100px;
}
.mb-3{
    font-size: 80px;
}
.container.my-5{
    color: aliceblue;
}

/*Footer*/
.footer {
    border-top: .1rem solid white;
    padding-top: 1rem;
    margin-top: 30vh;
    background: black;
    text-align: center;
    
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    text-decoration: none;
    height: 3.3rem;
    width: 3.3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    color: #fff;
    border: .1rem solid rgba(255, 255, 255, .3);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: #d3ad7f;
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    text-decoration: none;
    padding: .2rem .9rem;
    color: #fff;
    border: .1rem solid rgba(255, 255, 255, .3);
    font-size: 1.2rem;
}

.footer .links a:hover {
    background: #d3ad7f;
}

.footer .credit {
    font-size: 1.3rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: #d3ad7f;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }