@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .4rem;
}

html::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

html::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 5rem;
}

body{
    font-family: 'Roboto','sans-serif'; 
    background-color: #010103;
}

h1{
        text-transform: uppercase;
        font-size: 10px;
}

h3{
    margin-bottom: 0.1rem;
}

.logo{
    width: 40px;
}


.navigation{
    padding: 20px;
    background-color: #010103;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
    z-index: 3;
    
    
}
.navigation ul li {
    margin: 0 12px;
    font-weight: bold;
}

.navi ::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #d3ad7f;
    display: block;
    margin: auto;
    transition: all 0.5s;
    
    
    
}

.navi :hover:after {
    
    width: 100%;

}



/* title  */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
    
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));

}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;



    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));

}

.bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn-login {
    background-color: #5E17EB;
    border: none;
    color: white;
    padding: 10px 50px;
    transition: all 1s;
    border-radius: 100px;

}

.btn-login:hover{
    color: black;
    background-color: aliceblue;
    transform: translateY(-10px);
}

.hero{
    margin-top: 100px;
}



@media only screen and (max-width:991px) {

    .disabled {
        display: none;
    }

    nav ul {
        width: 20%;
        background: rgb(94, 23, 235,0.9);
        position: absolute;
        top: 100px;
        right: 10px;
        z-index: 2;
        
    }

    nav ul li {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }

    .space{
        display: none;
    }

    .dropmenu{
        display: flex;
        flex-direction: column;
    }
    
    .droplist{
        background-color: rgb(94, 23, 235, 0.9);
        border: none;
        width: 100%;
        min-width: 0;
        padding: 0;
        
    }

    .text-dropmenu{
        color: white;
    }

}


/* facility  */

    .design{
        padding-top: 100px;
        background-color: #010103;
    }

    

    .carousel-inner {
        border-radius: 70px;
        margin: 50px 0;
        
        
    
    }

    .carousel-item {
        transition: transform 1s ease-in-out;
        
    }
    
    .carousel-fade .active.carousel-item-start,
    .carousel-fade .active.carousel-item-end {
        transition: opacity 0s 1s;
    }

    
/* visitor */

.content{
    padding:1rem 0;
}





/* login  */

.empty-space {
    height: 10vh;

}


.form {
    background-color: #474444;
    padding-bottom: 10vh;




    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    border: none;
    border-radius: 40px;

}







/* footer  */
.footer {
    border-top: .1rem solid white;
    padding-top: 1rem;
    margin-top: 30vh;
    background: black;
    text-align: center;
    
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    text-decoration: none;
    height: 3.3rem;
    width: 3.3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    color: #fff;
    border: .1rem solid rgba(255, 255, 255, .3);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: #d3ad7f;
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    text-decoration: none;
    padding: .2rem .9rem;
    color: #fff;
    border: .1rem solid rgba(255, 255, 255, .3);
    font-size: 1.2rem;
}

.footer .links a:hover {
    background: #d3ad7f;
}

.footer .credit {
    font-size: 1.3rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: #d3ad7f;
}