@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .4rem;
}

html::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

html::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 5rem;
}

body {
    font-family: 'Roboto', 'sans-serif';
    background-color: #010103;
    padding: 20vh ;
}

h1 {
    text-transform: uppercase;
    font-size: 10px;
}

.selection{
    width: fit-content;
}
.design {
    padding: 100px 20px;
    background-color: #000000;
}

.btn-login {
    background-color: #5E17EB;
    border: none;
    color: white;
    padding: 10px 50px;
    transition: all 1s;
    

}

.btn-login:hover {
    color: black;
    background-color: aliceblue;
    transform: translateY(10px);
}
